.prodCard {
  border: 2px solid gray;
  border-radius: 5px;
  background-color: rgba(85,107,47, .5);
  width: 25%;
  margin: 8px 8px 0 0;
  padding: 0 8px;
  float: left;
}

.isHidden {
  display: none;
}
